body {
    background-color: lightslategray;
    color: black;
    margin: auto;
    padding: 110px;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.clock {
    background-color: lightblue;
    position: relative;
    width: 350px;
    height: 450px;
    border-radius: 5%;
    border: 8px solid;
    transition: transform 0.3 ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.numbers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 700
}

.twelve {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.four {
    position: absolute;
    bottom: 130px;
    right: 8%;
    transform: translateX(-50%);
}

.three {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.six {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.seven {
    position: absolute;
    bottom: 50px;
    right: 70%;
    transform: translateX(-50%);
}

.eight {
    position: absolute;
    bottom: 130px;
    left: 10%;
    transform: translateX(-50%);
}

.one {
    position: absolute;
    top: 45px;
    left: 240px;
    right: 13px;
    transform: rotateX('-5%');
}

.two {
    position: absolute;
    top: 120px;
    right: 40px;
    transform: rotateX('-5%');
}

.five {
    position: absolute;
    bottom: 50px;
    right: 85px;
    transform: rotateX('-20%');
}

.nine {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.eleven {
    position: absolute;
    left: 80px;
    top: 13%;
    transform: translateY(-50%);

}

.ten {
    position: absolute;
    left: 30px;
    top: 30%;
    transform: translateY(-50%);
}


.arrows {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.arrows div {
    position: absolute;
    bottom: 50%;
    transform-origin: bottom;
    border-radius: 4px;
}


.hours {
    width: 6px;
    height: 70px;
    background: orange;
}

/* Minute hand */
.minutes {
    width: 4px;
    height: 100px;
    background: orange;
}

/* Second hand */
.seconds {
    width: 2px;
    height: 120px;
    background: black;
}

h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 80px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    font-size: 17px;
    text-align: center;
    margin-top: -40px;
}

.date-window {
    width: 127px;
    height: 20px;
    background-color: white;
    border-radius: 8px solid;
    border-style: solid;
    position: absolute;
    margin-left: 120px;
    transform: translateY(600%);
}

.date-display {
    position: absolute;
    top: 40%;
    left: 32%;
    margin-left: 15px;
    transform: translateY(715%);
    font-size: 14px;
    color: black;
}

.clock:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.15);
}

.dayWeekDisplay {
    position: absolute;
    right: 110px;
    bottom: 115px;
    transform: translateY(-100%);
    font-size: 15px;
    color: orange;
}